<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User notes</title>
</head>
<body>
<table style="border-collapse: collapse; text-align:center;margin-left: 40%;
    margin-top: 50px;width:500px" border="0">
    <tbody>
    <tr>
        <td style="width: 100%;">
            <center>
                <div style="padding: 15px;
                border: 2px solid black;
                border-radius: 6px;
                width: 350px;
                height: fit-content;
                font-size: 24px;
                font-weight: bold;
                font-family: system-ui;
                text-transform: uppercase;
                background-color: #ff9800;">show notes: <div th:text="${person.getName()}">user</div></div>
            </center>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; padding-top:60px">
            <center>
                <div th:each="personList : ${person.getArrayListNotes()}">
                    <div style="
                    margin-top: 20px;
                    border: 2px solid black;
                    border-radius: 20px 20px 0 0;
                    width: 85px;
                    border-bottom: none;
                    font-weight: bold;
                    font-family: system-ui;
                    font-size: 14px;
                    padding: 3px;
                    background-color: #ff9800bf;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: center;">Note: &nbsp;<div th:text="${person.getArrayListNotes().indexOf(personList)+1}">number</div></div>
                    <div th:text="${personList}" style="
                    padding: 13px;
                    border: 2px solid black;
                    border-radius: 6px;
                    font-size: 14px;
                    font-weight: bold;
                    font-family: system-ui;">note</div>
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; padding-top:15px">
            <center>
                <a href="/user-menu" style="text-decoration: none">
                    <div style="
                    margin-top: 20px;
                    padding: 10px 15px 10px 15px;
                    border: 2px solid black;
                    border-radius: 6px;
                    width: 100px;
                    height: fit-content;
                    font-size: 17px;
                    font-weight: bold;
                    font-family: system-ui;
                    text-transform: uppercase;">back</div>
                </a>
            </center>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>